.trash-icon,
.edit-icon {
	opacity: 0.5;
	width: 20px;
	height: 20px;
}

.trash-icon:hover,
.edit-icon:hover {
	opacity: 0.8;
	cursor: pointer;
}

.song-container {
	margin: auto;
	max-width: 2480px;
}

.song-detail {
	display: flex;
	justify-content: center;
	width: 80%;
	margin: 0;
}
.song-list-image {
	height: 150px;
	width: 150px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 30%;
}

.song-detail-info {
	display: inline-flex;
	font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
		Garuda, Verdana, Tahoma, sans-serif;
	border: orange solid;
	width: 100%;
	color: black;
	margin-top: 20px;
	margin-right: 5px;
	max-width: 550px;
	opacity: 1;
	height: 100%;
	width: 100%;
	transition: opacity 0.3s;
	background: linear-gradient(
		135deg,
		rgb(232, 232, 232) 0%,
		rgb(121, 121, 121) 100%
	);
}

li {
	list-style: none;
}

.comment-list {
	list-style: none;
	border: orange solid 1px;
}
.ul-comments {
	margin-top: 10px;
	border: blue solid;
}

#song-title {
	font-size: 30px;
	font-weight: bold;
	font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
		Garuda, Verdana, Tahoma, sans-serif;
}

#song-artist {
	font-size: 20px;
}

.song-detail-buttons {
	margin-top: 20px;
}
.song-delete-button {
	background-color: black;
	font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
		Garuda, Verdana, Tahoma, sans-serif;
	font-size: 16px;
	background-color: black;
	border-color: #ccc;
	color: #fff;
	border-radius: 3px;
	/* margin-left: 10px; */
}

.song-edit-button {
	font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
		Garuda, Verdana, Tahoma, sans-serif;
	font-size: 16px;
	background-color: #f50;
	border-color: #f50;
	color: #fff;
	border-radius: 3px;
	/* padding: 2px 15px; */
	/* margin-top: 5px; */
}

.comment-add-button {
	font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
		Garuda, Verdana, Tahoma, sans-serif;
	font-size: 16px;
	background-color: blue;
	border-color: #ccc;
	color: #fff;
	border-radius: 3px;
	/* padding: 2px 15px; */
	/* margin-top: 5px; */
}

.song-delete-button {
	background-color: black;
	font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
		Garuda, Verdana, Tahoma, sans-serif;
	font-size: 16px;
	background-color: black;
	border-color: #ccc;
	color: #fff;
	border-radius: 3px;
	/* margin-left: 10px; */
}

.song-edit-button {
	font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
		Garuda, Verdana, Tahoma, sans-serif;
	font-size: 16px;
	background-color: #f50;
	border-color: #f50;
	color: #fff;
	border-radius: 3px;
	/* padding: 2px 15px; */
	/* margin-top: 5px; */
}
.create-song-form {
	max-width: auto;
	min-height: auto;
	padding: 7px 7px;
	/* margin: auto; */
	border-radius: 10px;
	border: solid 1px #ccc;
	box-shadow: 1px 2px 5px rgb(0 0 0 / 31%);
	background: #ebebeb;
}

.create-song-button {
	background-color: black;
	font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
		Garuda, Verdana, Tahoma, sans-serif;
	font-size: 16px;
	background-color: #f50;
	border-color: #f50;
	color: #fff;
	border-radius: 3px;
	margin-top: 5px;
}

.create-song-input {
	font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
		Garuda, Verdana, Tahoma, sans-serif;
	margin-left: 5px;
	max-width: 195px;
	display: flex;
	flex-direction: column;
}

.create-song-label-form {
	font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
		Garuda, Verdana, Tahoma, sans-serif;
}

.create-song-button:hover {
	cursor: pointer;
}

.cancel-create-song-button {
	background-color: black;
	font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
		Garuda, Verdana, Tahoma, sans-serif;
	font-size: 16px;
	/* background-color: #f50; */
	border-color: black;
	color: #fff;
	border-radius: 3px;
	margin-left: 10px;
}
