.trash-icon,
.edit-icon {
	opacity: 0.5;
	width: 20px;
	height: 20px;
}

.trash-icon:hover,
.edit-icon:hover {
	opacity: 0.8;
	cursor: pointer;
}

.audio-control {
	margin-left: 20px;
	margin-top: 20px;
}

.song-detail-main-container {
	/* border: red solid; */
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 1175px;
	height: 1100px;
	background-color: rgb(245, 245, 245);
}

.song-detail-container {
	/* border: blue solid; */
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr 1fr 1fr;
	justify-items: center;
	width: 1080px;
	height: 1020px;
}

.song-detail-box {
	/* display: flex; */
	/* justify-content: center; */
	/* margin: 20px; */
	/* border: orange solid; */
	width: 100%;
	/* height: 275px; */
}

.song-detail-details {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	/* border: black solid; */
	width: 270px;
	height: 270px;
}

.song-detail-image {
	/* border: green solid; */
	width: 150px;
	height: 150px;
}

.song-detail-image:hover {
	border: #f50 solid 1px;
    cursor: pointer;
}
.song-detail-title {
	/* border: black solid; */
	max-width: 250px;
	height: 20px;
}
.song-detail-description {
	/* border: black solid; */
	width: 175px;
	height: 20px;
}

/* .song-detail {
	display: flex;
	justify-content: center;
	width: 80%;
	margin: 0;
}
.song-list-image {
	height: 150px;
	width: 150px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 30%;
}

.song-detail-info {
	display: inline-flex;
	font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
		Garuda, Verdana, Tahoma, sans-serif;
	border: orange solid;
	width: 100%;
	color: black;
	margin-top: 20px;
	margin-right: 5px;
	max-width: 550px;
	opacity: 1;
	height: 100%;
	width: 100%;
	transition: opacity 0.3s;
	background: linear-gradient(
		135deg,
		rgb(232, 232, 232) 0%,
		rgb(121, 121, 121) 100%
	);
} */

li {
	list-style: none;
}

.comments {
	border: lightgrey solid 1px;
}
.comment-list {
	display: flex;
	list-style: none;
	/* border: lightgrey solid 0.5px; */
}
.ul-comments {
	margin-top: 10px;
	border: blue solid;
}

#song-title {
	font-size: 30px;
	font-weight: bold;
	font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
		Garuda, Verdana, Tahoma, sans-serif;
}

#song-artist {
	font-size: 20px;
}

.song-detail-buttons {
	margin-top: 20px;
}
.song-delete-button {
	background-color: black;
	font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
		Garuda, Verdana, Tahoma, sans-serif;
	font-size: 16px;
	background-color: black;
	border-color: #ccc;
	color: #fff;
	border-radius: 3px;
	/* margin-left: 10px; */
}

.song-edit-button {
	font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
		Garuda, Verdana, Tahoma, sans-serif;
	font-size: 16px;
	background-color: #f50;
	border-color: #f50;
	color: #fff;
	border-radius: 3px;
}

.comment-add-button {
	font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
		Garuda, Verdana, Tahoma, sans-serif;
	font-size: 16px;
	background-color: blue;
	border-color: #ccc;
	color: #fff;
	border-radius: 3px;
}

.song-delete-button {
	background-color: black;
	font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
		Garuda, Verdana, Tahoma, sans-serif;
	font-size: 16px;
	background-color: black;
	border-color: #ccc;
	color: #fff;
	border-radius: 3px;
}

.song-edit-button {
	font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
		Garuda, Verdana, Tahoma, sans-serif;
	font-size: 16px;
	background-color: #f50;
	border-color: #f50;
	color: #fff;
	border-radius: 3px;
}
.create-song-form {
	max-width: auto;
	min-height: auto;
	padding: 7px 7px;

	border-radius: 10px;
	border: solid 1px #ccc;
	box-shadow: 1px 2px 5px rgb(0 0 0 / 31%);
	background: #ebebeb;
}

.create-song-button {
	background-color: black;
	font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
		Garuda, Verdana, Tahoma, sans-serif;
	font-size: 16px;
	background-color: #f50;
	border-color: #f50;
	color: #fff;
	border-radius: 3px;
	margin-top: 5px;
}

.create-song-input {
	font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
		Garuda, Verdana, Tahoma, sans-serif;
	margin-left: 5px;
	max-width: 195px;
	display: flex;
	flex-direction: column;
}

.create-song-label-form {
	font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
		Garuda, Verdana, Tahoma, sans-serif;
}

.create-song-button:hover {
	cursor: pointer;
}

.cancel-create-song-button {
	background-color: black;
	font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
		Garuda, Verdana, Tahoma, sans-serif;
	font-size: 16px;

	border-color: black;
	color: #fff;
	border-radius: 3px;
	margin-left: 10px;
}
