#navigation-bar {
	background-color: #141414;
	/* font: 12px/1.4 Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda,
		Verdana, Tahoma, sans-serif; */
	font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
		Garuda, Verdana, Tahoma, sans-serif;
	/* max-width: 1920px; */
}

.Nav-container {
	/* display: block; */
	margin: auto;
	max-width: 1920px;
}

img {
	max-width: 100%
}

/* .navigation-background {
	background-image: url(https://a-v2.sndcdn.com/assets/images/sc_landing_header_web_b@2x-7e5ff471.jpg);
	margin: auto;
	max-width: 1920px;
	min-height: 1080px;
	background-size: cover;
	background-repeat: no-repeat; */
/* } */

.albums-background {
	background-image: url(https://pixabay.com/get/g3e328ed2d681f9f3598bb78fe8b5a3d3ac9536a11d14d55dd595ed240c71db284c62cf88b73c3f2963103c18ed98d30ade16919e5296dd22d1e126e318cc3cf9f93767f53437d6fd07b285a6109017a3_1920.jpg);
	max-width: 1920px;
	min-height: 1080px;
	background-size: cover;
	background-repeat: no-repeat;
}

.songs-background {
	background-image: url(https://pixabay.com/get/gb0bc3977039e6b4b8285a7833db72fb31dd4eae92b51d278c70c801378a0636898a74c0f5d6e74d6ac06ea8a3b7139641a39636201e93ac4e181cd7479153511a70503bb0eebebef9048b8e7fdb9bf7b_1920.jpg);
	max-width: 1920px;
	min-height: 1080px;
	background-size: cover;
	background-repeat: no-repeat;
}
.nav-text-title {
	color: rgb(240, 240, 240);
	font-size: xx-large;
	font-weight: bolder;
}

.nav-text {
	color: rgb(230, 230, 230);
	font-size: large;
	font-weight: bold;
}
.nav-text:hover {
	color: #f50;
	font-size: large;
	font-weight: bold;
}

.nav-item {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0px 10px 0px 10px;
}

#all-nav-items {
	display: inline-flex;
}

.profile-dropdown {
	color: #ccc;
}
